# See https://atom.io/docs/latest/creating-a-package#menus for more details

'context-menu':
  '.tree-view-cache.full-menu':
    'Add File'  : 'cache-studio:add-file'
    'Add Folder': 'cache-studio:add-folder'
    'Delete'    : 'cache-studio:remove'
  '.output-view.native-key-bindings':
    'Clear'      : 'output-view:clearoutput'
    'Close'      : 'output-view:closeoutput'
  '.editor':
    'Search': 'cache-studio:search'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'cache-studio'
      'submenu': [
        { 'label': 'Config', 'command': 'cache-studio:config' },
        { 'label': 'Namespace', 'command': 'cache-studio:namespace' },
        { 'label': 'Compile', 'command': 'cache-studio:compile' },
        { 'label': 'Terminal', 'command': 'cache-studio:terminal' },
        { 'label': 'Output', 'command': 'cache-studio:output' },
        { 'label': 'Refresh', 'command': 'cache-studio:tree-view-refresh' }
      ]
    ]
  }
]
