# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.workspace':
  'ctrl-alt-o': 'Atom-COS-Studio:namespace'
  'F7': 'Atom-COS-Studio:compile'
  'ctrl-alt-0': 'Atom-COS-Studio:tree-view-refresh'
  'ctrl-alt-a':'window:save-all'
  'F8': 'Atom-COS-Studio:compile-all'
  'F10': 'Atom-COS-Studio:test'
